---
page_title: "Conduktor : conduktor_console_application_instance_v1 "
subcategory: "self-serve/v1"
description: |-
    Resource for managing Conduktor Console self service application instances.
    This resource allows you to create, read, update and delete application instances in Conduktor.
---

# {{ .Name }}

Resource for managing Conduktor application instances.
This resource allows you to create, read, update and delete application instances in Conduktor.

## WARNING
Minimum requirement for this resource:
 - Conduktor Console version `1.31.0`.

Usage of this resource with older Console version might result in unexpected behavior.

## Example Usage

### Simple application instance
{{tffile "examples/resources/conduktor_console_application_instance_v1/simple.tf"}}

### Complex application instances
{{tffile "examples/resources/conduktor_console_application_instance_v1/complex.tf"}}


{{ .SchemaMarkdown }}
