---
page_title: "Conduktor : conduktor_console_topic_v2 "
subcategory: "kafka/v2"
description: |-
    Resource for managing Kafka topics with Conduktor Console.
    This resource allows you to create, read, update and delete kafka topics in Conduktor.
---

# {{ .Name }}

Resource for managing Kafka topics.
This resource allows you to create, read, update and delete kafka topics in Conduktor.

> [!NOTE]
> - It is recommended to set `lifecycle { prevent_destroy = true }` on production instances to prevent accidental topic deletion.
> - This setting rejects plans that would destroy or recreate the topic, such as attempting to change uneditable attributes.
> - Read more about it in the [Terraform docs](https://www.terraform.io/language/meta-arguments/lifecycle#prevent_destroy).

> [!WARNING]
> - This resource is officially supported from Conduktor Console `1.30.0` and newer.
> - Usage of this resource with older Console version might result in unexpected behavior.
> - e.g. `sql_storage` has been made available from Conduktor Console `1.30.0`.

## Example Usage

### Simple topic
{{tffile "examples/resources/conduktor_console_topic_v2/simple.tf"}}

### Complex topic
{{tffile "examples/resources/conduktor_console_topic_v2/complex.tf"}}

### Topic with prevent_destroy
{{tffile "examples/resources/conduktor_console_topic_v2/prevent_destroy.tf"}}


{{ .SchemaMarkdown }}

## Import

In order to import a Kafka topics into Conduktor, you need to know the Kafka cluster ID and the Kafka Topic ID.

The import ID is constructed as follows: `< cluster_id >/< topic_id >`.

For example, using an [`import` block](https://developer.hashicorp.com/terraform/language/import) :
{{tffile "examples/resources/conduktor_console_topic_v2/import.tf"}}

Using the `terraform import` command:
```shell
terraform import conduktor_console_topic_v2.example my-cluster/my-topic
```
