---
page_title: "Conduktor : conduktor_console_application_group_v1 "
subcategory: "self-serve/v1"
description: |-
    Resource for managing Conduktor Console self service application groups.
    This resource allows you to create, read, update and delete application groups in Conduktor.
---

# {{ .Name }}

Resource for managing Conduktor application groups.
This resource allows you to create, read, update and delete application groups in Conduktor.

## Example Usage

### Simple application instance
{{tffile "examples/resources/conduktor_console_application_group_v1/simple.tf"}}

### Complex application instances
{{tffile "examples/resources/conduktor_console_application_group_v1/complex.tf"}}


{{ .SchemaMarkdown }}
