---
page_title: "Conduktor : conduktor_console_topic_policy_v1 "
subcategory: "self-serve/v1"
description: |-
    Resource for managing Conduktor Console self service topic policies.
    This resource allows you to create, read, update and delete topic policies in Conduktor.
---

# {{ .Name }}

Resource for managing Conduktor topic policies.
This resource allows you to create, read, update and delete topic policies in Conduktor.

## Example Usage

### Simple topic policy
{{tffile "examples/resources/conduktor_console_topic_policy_v1/simple.tf"}}

### Complex topic policy
{{tffile "examples/resources/conduktor_console_topic_policy_v1/complex.tf"}}


{{ .SchemaMarkdown }}
