---
page_title: "Conduktor : conduktor_console_kafka_subject_v2 "
subcategory: "console/v2"
description: |-
    Resource for managing Kafka subjects definition linked to an existing Kafka schema cluster definition inside Conduktor Console.
    This resource allows you to create, read, update and delete Kafka subjects connections from Conduktor Console.
---

# {{ .Name }}

Resource for managing Kafka subjects definition linked to an existing Kafka schema cluster definition inside Conduktor Console.
This resource allows you to create, read, update and delete Kafka subjects connections from Conduktor Console.

## Example Usage

### Minimal Kafka subject
This example creates a simple Kafka subject with minimal configuration.
{{tffile "examples/resources/conduktor_console_kafka_subject_v2/simple.tf"}}

### Kafka subject JSON
This example creates a complex Kafka JSON subject with all available configuration.
{{tffile "examples/resources/conduktor_console_kafka_subject_v2/json.tf"}}

### Kafka subject PROTOBUFF
This example creates a complex Kafka PROTOBUFF subject with all available configuration.
{{tffile "examples/resources/conduktor_console_kafka_subject_v2/protobuff.tf"}}

### Kafka subject AVRO
This example creates a complex Kafka AVRO subject with all available configuration.
{{tffile "examples/resources/conduktor_console_kafka_subject_v2/avro.tf"}}

### Kafka subject from file
This example creates a complex Kafka JSON subject with all available configuration.
{{tffile "examples/resources/conduktor_console_kafka_subject_v2/json_file.tf"}}

{{ .SchemaMarkdown }}

## Import

In order to import a Kafka subject, you need to know the Kafka cluster ID and the Kafka subject name.

The import ID is constructed as follows: `< cluster_id >/< subject_name >`.

For example, using an [`import` block](https://developer.hashicorp.com/terraform/language/import) :
{{tffile "examples/resources/conduktor_console_kafka_subject_v2/import.tf"}}

Using the `terraform import` command:
```shell
terraform import conduktor_console_kafka_subject_v2.example mini-cluster/import-subject
```
