---
page_title: "Conduktor : conduktor_console_resource_policy_v1 "
subcategory: "self-serve/v1"
description: |-
    Resource for managing Conduktor Console self service resource policies.
    This resource allows you to create, read, update and delete resource policies in Conduktor.
---

# {{ .Name }}

Resource for managing Conduktor resource policies.
This resource allows you to create, read, update and delete resource policies in Conduktor.

## Example Usage

### Simple resource policy
{{tffile "examples/resources/conduktor_console_resource_policy_v1/simple.tf"}}

### Complex resource policy
{{tffile "examples/resources/conduktor_console_resource_policy_v1/complex.tf"}}


{{ .SchemaMarkdown }}
