---
page_title: "Conduktor : conduktor_console_application_instance_permission_v1 "
subcategory: "self-serve/v1"
description: |-
    Resource for managing Conduktor Console self service application instances permissions.
    This resource allows you to create, read, update and delete application instances permissions in Conduktor.
---

# {{ .Name }}

Resource for managing Conduktor application instances permissions.
This resource allows you to create, read, update and delete application instances permissions in Conduktor.

> [!NOTE]
> - spec.permission has been deprecated and won't be supported by this terraform provider plugin 
> - Use spec.user_permission and spec.service_account_permission instead 

## Example Usage

### Complex application instance permissions
{{tffile "examples/resources/conduktor_console_application_instance_permission_v1/complex.tf"}}


{{ .SchemaMarkdown }}

## Import

In order to import an ApplicationInstancePermission into Conduktor, you need to know the resource ID.

For example, using an [`import` block](https://developer.hashicorp.com/terraform/language/import) :
{{tffile "examples/resources/conduktor_console_application_instance_permission_v1/import.tf"}}

Using the `terraform import` command:
```shell
terraform import conduktor_console_application_instance_permission_v1.example resourcepolicy
```
