---
page_title: "Conduktor : conduktor_console_application_v1 "
subcategory: "self-serve/v1"
description: |-
    Resource for managing Conduktor Console self service applications.
    This resource allows you to create, read, update and delete applications in Conduktor.
---

# {{ .Name }}

Resource for managing Conduktor Console applications.
This resource allows you to create, read, update and delete applications in Conduktor.

## Example Usage

### Simple applications without description
{{tffile "examples/resources/conduktor_console_application_v1/simple.tf"}}

### Complex application with description
{{tffile "examples/resources/conduktor_console_application_v1/complex.tf"}}


{{ .SchemaMarkdown }}
