---
page_title: "Conduktor : conduktor_console_service_account_v1"
subcategory: "self-serve/v1"
description: |-
    Resource for managing Conduktor Console Service Accounts.
    This resource allows you to create, read, update and delete service accounts in Conduktor.
---

# {{ .Name }}

Resource for managing Conduktor service accounts.
This resource allows you to create, read, update and delete service accounts in Conduktor.

## Example Usage

### Aiven linked service account
This example creates a service account linked to an Aiven flavoured cluster.
{{tffile "examples/resources/conduktor_console_service_account_v1/aiven.tf"}}

### Kafka linked service account
This example creates a service account linked to a generic kafka cluster.
{{tffile "examples/resources/conduktor_console_service_account_v1/kafka.tf"}}

{{ .SchemaMarkdown }}

## Import

In order to import a Console Service Account into Conduktor, you need to know the Kafka cluster ID and the Service Account ID.

The import ID is constructed as follows: `< cluster_id >/< service_account_id >`.

For example, using an [`import` block](https://developer.hashicorp.com/terraform/language/import) :
{{tffile "examples/resources/conduktor_console_service_account_v1/import.tf"}}

Using the `terraform import` command:
```shell
terraform import conduktor_console_service_account_v1.example my-cluster/my-service-account
```
