---
page_title: "Conduktor : conduktor_console_topic_policy_v1 "
subcategory: "self-serve/v1"
description: |-
    DEPRECATED - Resource for managing Conduktor Console self service topic policies.
    This resource allows you to create, read, update and delete topic policies in Conduktor.
    Removed from the Conduktor Console API in version 1.47.0, use conduktor_console_resource_policy_v1 instead.
---

# {{ .Name }}

Resource for managing Conduktor topic policies.
This resource allows you to create, read, update and delete topic policies in Conduktor.

## DEPRECATED
This resource is **deprecated** and the `TopicPolicy` API is **removed from Conduktor Console in version `1.47.0`**.

Use [`conduktor_console_resource_policy_v1`](https://registry.terraform.io/providers/conduktor/conduktor/latest/docs/resources/console_resource_policy_v1)
instead, which supersedes topic policies and also supports other resource types.

Targeting a Conduktor Console newer than `1.46.2` with this resource fails at plan time.

## WARNING
Version requirements for this resource:
 - Minimum Conduktor Console version `1.30.0`.
 - Maximum Conduktor Console version `1.46.2`.

Usage of this resource with older Console version might produce errors since the API might not support all types of constraints

## Example Usage

### Simple topic policy
{{tffile "examples/resources/conduktor_console_topic_policy_v1/simple.tf"}}

### Complex topic policy
{{tffile "examples/resources/conduktor_console_topic_policy_v1/complex.tf"}}

{{ .SchemaMarkdown | trimspace }}
