---
page_title: "Conduktor : conduktor_gateway_service_account_v2 "
subcategory: "gateway/v2"
description: |-
    Resource for managing Conduktor Gateway Service Accounts.
    This resource allows you to create, read, update and delete service accounts in Conduktor Gateway.
---

# {{ .Name }}

Resource for managing Conduktor service accounts.
This resource allows you to create, read, update and delete service accounts in Conduktor Gateway.

## Example Usage

### Simple service account of LOCAL type and without a vCluster
{{tffile "examples/resources/conduktor_gateway_service_account_v2/simple.tf"}}

### Complex service account of EXTERNAL type with expernal names and a vCluster
{{tffile "examples/resources/conduktor_gateway_service_account_v2/complex.tf"}}


{{ .SchemaMarkdown }}
