---
page_title: "Conduktor : conduktor_kafka_cluster_v2 "
subcategory: "console/v2"
description: |-
    Resource for managing Conduktor Kafka cluster definition with optional Schema registry.
    This resource allows you to create, read, update and delete Kafka cluster and Schema registry definitions in Conduktor.
---

# {{ .Name }}

Resource for managing Conduktor Kafka cluster and Schema registry definitions.
This resource allows you to create, read, update and delete Kafka clusters and Schema registry definitions in Conduktor.

## Example Usage

### Simple Kafka cluster without Schema registry
This example creates a simple Kafka cluster definition without authentication resource and without Schema Registry.
{{tffile "examples/resources/conduktor_kafka_cluster_v2/simple.tf"}}

### Confluent Kafka cluster with Schema registry
This example creates a Confluent Kafka cluster and Schema Registry definition resource.
The Schema Registry authentication uses mTLS.
{{tffile "examples/resources/conduktor_kafka_cluster_v2/confluent.tf"}}

### Aiven Kafka cluster with Schema registry
This example creates an Aiven Kafka cluster and Schema Registry definition resource.
The Schema Registry authentication uses basic auth.
{{tffile "examples/resources/conduktor_kafka_cluster_v2/aiven.tf"}}

### AWS MSK with Glue Schema registry
This example creates an AWS MSK Kafka Cluster and a Glue Schema Registry definition resource.
{{tffile "examples/resources/conduktor_kafka_cluster_v2/aws_msk.tf"}}

### Conduktor Gateway Kafka cluster with Schema registry
This example creates a Conduktor Gateway Kafka Cluster and Schema Registry definition resource.
The Schema Registry authentication uses a bearer token.
{{tffile "examples/resources/conduktor_kafka_cluster_v2/gateway.tf"}}

{{ .SchemaMarkdown }}
