---
page_title: "Condutkor : conduktor_user_v2 "
subcategory: "iam/v2"
description: |-
    Resource for managing Conduktor users.
    This resource allows you to create, read, update and delete users in Conduktor.
---

# {{ .Name }}

Resource for managing Conduktor users.
This resource allows you to create, read, update and delete users in Conduktor.

## Example Usage

### Simple user without permissions
{{tffile "examples/resources/conduktor_user_v2/simple.tf"}}

### Complex user with permissions
{{tffile "examples/resources/conduktor_user_v2/complex.tf"}}


{{ .SchemaMarkdown }}
