---
page_title: "Provider: Conduktor"
subcategory: ""
description: |-
    The Conduktor provider is used to interact with the resources supported by Conduktor. The provider needs to be configured with the proper credentials before it can be used.
---

# Conduktor Provider

The Conduktor provider is used to interact with the resources supported by Conduktor. The provider needs to be configured with the proper credentials before it can be used.

## Note
 - The Conduktor Terraform provider may not support all latest features offered by Console or Gateway. See our current [supported resources](https://docs.conduktor.io/guide/conduktor-in-production/automate).
 - [Get in touch](https://conduktor.io/roadmap) if you have feedback or would like to help guide our roadmap.

## Example Usage

### Console client only

{{tffile "examples/provider/console_provider.tf"}}

### Gateway client only

{{tffile "examples/provider/gateway_provider.tf"}}

### Multi client configuration using [terraform alias](https://developer.hashicorp.com/terraform/language/providers/configuration#alias-multiple-provider-configurations)

{{tffile "examples/provider/multi_provider.tf"}}

{{ .SchemaMarkdown }}
