---
page_title: "Provider: Conduktor"
subcategory: ""
description: |-
    The Conduktor provider is used to interact with the resources supported by Conduktor. The provider needs to be configured with the proper credentials before it can be used.
---

# Conduktor Provider

The Conduktor provider is used to interact with the resources supported by Conduktor. The provider needs to be configured with the proper credentials before it can be used.

> [!WARNING]
> - The Conduktor Terraform provider is currently in **Alpha**.
> - It does not support all Console and Gateway resources yet. See our [resources roadmap](https://github.com/conduktor/terraform-provider-conduktor/blob/main/README.md#resources-roadmap).
> - Let us know if you have [feedback](https://product.conduktor.help/c/74-terraform-provider) or wish to be a design partner.

## Example Usage

### Console client only

{{tffile "examples/provider/console_provider.tf"}}

### Gateway client only

{{tffile "examples/provider/gateway_provider.tf"}}

### Multi client configuration using [terraform alias](https://developer.hashicorp.com/terraform/language/providers/configuration#alias-multiple-provider-configurations)

{{tffile "examples/provider/multi_provider.tf"}}

{{ .SchemaMarkdown }}
